
/*index loading*/
#page_loader{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    z-index: 999;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-animation: loading 3s;
            animation: loading 3s;
  
    .loader_wrap{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      font-size: 2em;
    }
    
    span{
        width: 50px;
        height: 50px;
        display: block;
        position: relative; }
    }
  
  
  .loader_circle{
    border-radius: 50px;
    border: 6px solid rgba(255, 255, 255, 0.4);
    &:after{
        content: '';
        position: absolute;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #FFF;
        -webkit-animation: spin 1s linear infinite;
                animation: spin 1s linear infinite; }
      
    }
  
  @-webkit-keyframes spin {
    from {
      transform: rotate(0deg); }
  
    to {
      transform: rotate(360deg); } }
  
  @keyframes spin {
    from {
      transform: rotate(0deg); }
  
    to {
      transform: rotate(360deg); } }
  
      @-webkit-keyframes loading {
        0%   {
          visibility: visible;
          opacity: 1;}
        50% {
          visibility: visible;
          opacity: 1;}
        100% {
          visibility: visible;
          opacity:0;} }
  
      @keyframes loading {
        0%   {
          visibility: visible;
          opacity: 1;}
        50% {
          visibility: visible;
          opacity: 1;}
        100% {
          visibility: visible;
          opacity:0;} }

    /*menu slide*/

    .meals_descript{
      width: 100%;
    }
    
    .meals_select{
      width: 0%;
      background-color:#99e2d0;
      border-radius: 0 20px 20px 0;
      color: #ffff;
      display:flex;
      align-items:center;
      justify-content:center;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) ;
      -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) ;
      -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) ;
      -ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) ;
      -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) ;
}
    
    .meals:hover .meals_select{
      width:35%;
      
    }

    .meals:hover .meals_descript {
     width: 65%;
    }
    
    .meals:hover .fa-check-circle{
     -webkit-animation: tour 0.5s forwards 0.3s;
             animation: tour 0.5s forwards 0.3s;
    }
    
    
    @-webkit-keyframes tour {
      
      from {
       
      visibility: visible;
      transform:rotate(0deg);  
        
      }
      
      to {
        visibility: visible;
        transform:rotate(360deg);
        
      }
      
     
      
    }
    
    
    @keyframes tour {
      
      from {
       
      visibility: visible;
      transform:rotate(0deg);  
        
      }
      
      to {
        visibility: visible;
        transform:rotate(360deg);
        
      }
      
     
      
    }

    @-webkit-keyframes slide {
      from {
      opacity: 0;
      margin-top: 10%;}
    to {
      opacity: 1;
      margin-top: 0%;
    }  
      
  }

    @keyframes slide {
      from {
      opacity: 0;
      margin-top: 10%;}
    to {
      opacity: 1;
      margin-top: 0%;
    }  
      
  }
  /*coeur*/

.fa-heart {
  display: inline-block;
  background: transparent;
  padding: 3%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px  #000;
  &:hover{
  background: -webkit-linear-gradient(#FF79DA, #9356DC );
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 1px transparent;
    -webkit-animation: like-button 1s ease-in-out forwards;
            animation: like-button 1s ease-in-out forwards;
  
 }
}
 @-webkit-keyframes like-button {
  0% {
    opacity: 0;

  }
  
  100% {
      opacity: 1;
  }
}
 @keyframes like-button {
  0% {
    opacity: 0;

  }
  
  100% {
      opacity: 1;
  }
}
 
