/*boutton violet*/
.button {
   background-image: linear-gradient(to top left, #9356DC, #FF79DA );
   border-radius: 30px ;
   padding: 15px 35px;
   color: white;
   box-shadow: 0.1em 0.1em 0.2em #939393;
   border-color: transparent;
   &:hover{
    background-image: linear-gradient(to top left,  #9356DC, #FF79DA 90% );
    box-shadow: 0.2em 0.2em 0.8em #939393;
   }
   &:focus {
    outline: none;
    border: none;
    } 
}

#operation{
ol {
 counter-reset: fonctionnement;


li:active{
    background-color: #f5edff;
    i{ color: #9356DC;}
}
}
li{
    list-style-type: none;
    position: relative;
    counter-increment: fonctionnement;
    
}
li:before{
    content: counter(fonctionnement);
    display:inline-flex;
    position: absolute;
    background-color: #9356DC;
    width: 25px;
    height: 25px;
    font-size: 0.85em;
    top: 32%;
    left: -12px;
    color: white;
    border-radius: 50%;
    align-items:center;
    justify-content:center;
}


}

#card_warp{
    
.card{
    width: 90%;
    margin: 1em;
    margin-bottom: 1em ;

.card_img{
    background-color: white;
    position: relative;


img{
    width: 100%;
    height: 55vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.new{
    position: absolute;
    width: 95%;
    top: 10px;
    text-align: end;
span{
     color: #3d9c85;
     font-weight: bold;
     font-size: 0.8em;
   background-color: #99e2d0;
   padding: 0.5em;
   border-radius: 2px;
}
}
}

.card_text{
    width: 100%;
    height: 4em;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding-top: 10px;
    padding-bottom: 5px ;
    display: flex;
    align-content: center;
.card_text_wrap{
    width: 80%;
    height: 100%;
    margin: 0;
a {
    color: black;
    margin: 0;
.name_resto{
    font-family: "roboto bold";
    font-size: 1.1em;
    margin-left: 20px;
}
}
.name_city{ 
    display: block;
    font-size: 1em;
    font-family: 'Roboto Light';
    margin-left: 20px;
    margin-top: 0.5em;
} 
}
.card_heart{
    font-size: 1.3em;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
}
}



